<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          xmlns:tools="http://schemas.android.com/tools"
          package="com.ting">
    <uses-permission android:name="android.permission.REQUEST_INSTALL_PACKAGES" />
    <uses-permission android:name="android.permission.CAMERA"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE"></uses-permission>
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE"></uses-permission>
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS"/>
    <uses-permission android:name="android.permission.WAKE_LOCK"/>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <uses-permission android:name="android.permission.CALL_PHONE"></uses-permission>
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW"></uses-permission>
    <uses-permission android:name="android.permission.GET_ACCOUNTS"></uses-permission>
    <uses-permission android:name="android.permission.BLUETOOTH"></uses-permission>
    <!-- 拍照权限 -->
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>

    <uses-permission android:name="com.android.launcher.permission.INSTALL_SHORTCUT"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>





    <!-- ###################声明SDK使用的相关权限###################### -->
    <!-- 获取用户手机的IMEI，用来唯一的标识用户 -->

    <!-- ###################播放权限###################### -->
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED"/>

    <uses-permission android:name="android.permission.VIBRATE"/>
    <uses-permission android:name="android.permission.GET_TASKS"/>
    <permission
        android:name="com.ting.permission.MIPUSH_RECEIVE"
        android:protectionLevel="signature"/>
    <!--这里com.xiaomi.mipushdemo改成app的包名-->
    <uses-permission android:name="com.ting.permission.MIPUSH_RECEIVE"/>
    <!--这里com.xiaomi.mipushdemo改成app的包名-->

    <application
        android:name="com.ting.base.BaseApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/BaseAppTheme"
        tools:replace="android:appComponentFactory"
        android:appComponentFactory="factory">
        <activity
            android:name=".welcome.MainActivity"
            android:label="@string/app_name"
            android:launchMode="singleTask"
            android:screenOrientation="portrait">


        </activity>

        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="com.ting.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths"/>
        </provider>


        <activity
            android:name=".welcome.WelcomeActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/WelcomeTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>


        </activity>
        <activity
            android:name="com.ting.anchor.AnchorMainActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait">


        </activity>

        <activity
            android:name=".welcome.ApkDownloadActivity"
            android:theme="@style/ActivityDialogStyle"></activity>
        <activity
            android:name="com.ting.myself.AboutMeActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/BaseAppTheme">


        </activity>
        <activity
            android:name="com.ting.classification.ClassChilActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/BaseAppTheme">
        </activity>

        <activity
            android:name=".myself.MessageJavaActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name="com.ting.regist.RegistMainActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/BaseAppTheme">


        </activity>
        <activity
            android:name="com.ting.login.FindPasswordActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/BaseAppTheme">


        </activity>

        <activity
            android:name="com.ting.login.LoginMainActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/BaseAppTheme">


        </activity>


        <activity
            android:name="com.ting.bookcity.HotHostActivity"
            android:label="热门主播"
            android:screenOrientation="portrait"
            android:theme="@style/BaseAppTheme">


        </activity>
        <activity
            android:name="com.ting.bookcity.HotRecommenActivity"
            android:label="热门推荐"
            android:screenOrientation="portrait"
            android:theme="@style/BaseAppTheme">


        </activity>



        <activity
            android:name=".myself.BuyBookActivity"
            android:label="已购书籍"
            android:screenOrientation="portrait">


        </activity>

        <activity
            android:name="com.ting.search.SearchActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/BaseAppTheme">


        </activity>

        <activity
            android:name="com.ting.myself.SettingActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/BaseAppTheme">


        </activity>

        <activity
            android:name=".play.PlayActivity"
            android:screenOrientation="portrait"
            android:theme="@style/PlayActivityAnim"></activity>

        <activity
            android:name="com.ting.myself.MySeeActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/BaseAppTheme">


        </activity>
        <activity
            android:name="com.ting.myself.DouDetailsActivity"
            android:label="听豆明细"
            android:screenOrientation="portrait">


        </activity>
        <activity
            android:name="com.ting.myself.SuggestBackActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/BaseAppTheme">


        </activity>
        <activity
            android:name="com.ting.myself.MyCardActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/BaseAppTheme">


        </activity>
        <activity
            android:name="com.ting.myself.DouDetailsChildrenActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/BaseAppTheme">


        </activity>
        <activity
            android:name="com.ting.myself.MyDouActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/BaseAppTheme">

        </activity>

        <activity
            android:name="com.ting.myself.CollectActivity"
            android:label="收藏界面"
            android:screenOrientation="portrait">
        </activity>

        <activity
            android:name="com.ting.bookcity.TeamBookListActivity"
            android:label="首页专辑"
            android:screenOrientation="portrait">
        </activity>

        <activity
            android:name=".welcome.AdActivity"
            android:label="广告"
            android:screenOrientation="portrait">
        </activity>


        <activity
            android:name=".anchor.HostListActivity"
            android:label="主播列表"
            android:screenOrientation="portrait">
        </activity>


        <activity
            android:name=".play.ChapterBuyActivity"
            android:label="章节批量购买"
            android:screenOrientation="portrait">
        </activity>

        <activity
            android:name=".record.DownloadActivity"
            android:label="下载列表"
            android:screenOrientation="portrait">
        </activity>


        <activity
            android:name=".myself.StudyUseActivity"
            android:label="使用说明"
            android:screenOrientation="portrait">
        </activity>

        <activity
            android:name=".myself.StudyUseDetailsActivity"
            android:label="使用说明"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name="com.ting.myself.ShareFriendsActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/BaseAppTheme">
            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <data android:scheme="wx65ef305f9d0ebdec"/>
            </intent-filter>

        </activity>


        <activity
            android:name="com.ting.play.BookDetailsActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/BaseAppTheme">


        </activity>
        <activity
            android:name=".welcome.GuidActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/GuiTheme"/>

        <activity
            android:name="com.ting.record.DownChapterActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/BaseAppTheme"></activity>


        <activity
            android:name="com.ting.play.ReplyMessageActivity"
            android:screenOrientation="portrait"
            android:theme="@style/BaseAppTheme"></activity>

        <activity
            android:name=".wxapi.WXPayEntryActivity"
            android:exported="true"/>

        <activity
            android:name="com.ting.wxapi.WXEntryActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:exported="true"
            android:theme="@android:style/Theme.Translucent.NoTitleBar"/>


        <!-- alipay sdk begin -->
        <activity
            android:name="com.alipay.sdk.app.H5PayActivity"
            android:configChanges="orientation|keyboardHidden|navigation"
            android:exported="false"
            android:screenOrientation="behind"
            android:windowSoftInputMode="adjustResize|stateHidden"></activity>

        <!-- alipay sdk end -->


        <!-- ###################添加UmengAppkey###################### -->
        <meta-data
            android:name="UMENG_APPKEY"
            android:value="5165707656240b56d6011d7f"></meta-data>
        <!--android:value="${UMENG_CHANNEL_VALUE}"-->
        <meta-data
            android:name="UMENG_CHANNEL"
            android:value="${UMENG_CHANNEL_VALUE}"/>


        <!-- *************************音乐播放Service*********************************** -->
        <service
            android:name="com.ting.play.service.MusicService"
            android:exported="false"
            android:process=":tingshijie">

            <intent-filter>
                <action android:name="android.media.browse.MediaBrowserService" />
            </intent-filter>

        </service>


        <receiver android:name="android.support.v4.media.session.MediaButtonReceiver" >
            <intent-filter>
                <action android:name="android.intent.action.MEDIA_BUTTON" />
            </intent-filter>
        </receiver>

        <service android:name=".download.DownLoadService"></service>

        <!--<receiver android:name=".play.receiver.MyRemoteControlEventReceiver">-->
            <!--<intent-filter>-->
                <!--<action android:name="android.intent.action.MEDIA_BUTTON"/>-->
            <!--</intent-filter>-->
        <!--</receiver>-->
        <!--下载广播 -->
        <receiver android:name=".download.receiver.ApkInstallReceiver">
            <intent-filter>
                <action android:name="android.intent.action.DOWNLOAD_COMPLETE"></action>
            </intent-filter>
        </receiver>

        <!-- QQ登录分享 -->
        <activity
            android:name="com.tencent.tauth.AuthActivity"
            android:launchMode="singleTask"
            android:noHistory="true">
            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>

                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.BROWSABLE"/>

                <data android:scheme="tencent1101054688"/>
            </intent-filter>
        </activity>
        <activity
            android:name="com.tencent.connect.common.AssistActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:theme="@android:style/Theme.Translucent.NoTitleBar"/>




        <!-- 广点通广告 -->
        <service
            android:name="com.qq.e.comm.DownloadService"
            android:exported="false" />
        <activity
            android:name="com.qq.e.ads.ADActivity"
            android:configChanges="keyboard|keyboardHidden|orientation|screenSize" />
        <activity
            android:name="com.qq.e.ads.PortraitADActivity"
            android:screenOrientation="portrait"
            android:configChanges="keyboard|keyboardHidden|orientation|screenSize" />
        <activity
            android:name="com.qq.e.ads.LandscapeADActivity"
            android:screenOrientation="landscape"
            android:configChanges="keyboard|keyboardHidden|orientation|screenSize" />
    </application>

</manifest>
